body {
    background-color: gray;
    text-align: center;
}

#login {
    background-color: yellow;
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
    height: 320px;
    border-radius: 1%;
    box-shadow: 1px 2px 15px 2px black; /*the 3rd px is for blurness*/
}

#form {
    padding-top: 12%;
}

#form > * {
    margin: 12px 0 12px 0;
}

input {
    height: 2rem;
    width: 50%;
    font-size: 1.2rem;
    border-radius: 4%;
    border: 2px solid silver;
}

#login-btn {
    text-align: center;
    background-color: #76BA1B;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
}

#error {
    color: red;
    text-align: center;
}
